<div class="footer">
    <div class="details">
        <span><i class="fa-regular fa-copyright"></i> 2026 StaySphere,Inc.</span>&nbsp;
        <a href="#">Privacy</a>&nbsp;
        <a href="#">Terms</a>&nbsp;
        <a href="#">Company details</a>
    </div>

    <div class="links">
        <a href="#"><i class="fa-solid fa-globe"></i> English(IN)</a>&nbsp;&nbsp;
        <a href="#"><i class="fa-solid fa-indian-rupee-sign"></i>INR</a>&nbsp;&nbsp;
        <a href="#"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;
    </div>
</div>