<% layout("/layouts/boilerplate") -%>
<body>
<div class="sign-up">
    <% if (errors && errors.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
            <%= errors[0] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
        <div class="row offset-1 ">
        <div class="side1">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2e/d4/fb/70/heavenly-spa-by-westin.jpg?w=400&h=300&s=1" alt="sign up image">
        </div></div>
        <div class="side2">
<div class="row offset-2" >
    <div class="col-12 offset-3 mt-5 ">
        <h2>Welcome to StaySphere</h2><br>
        <form method="POST" action="/sign_up" novalidate class="needs-validation">
            <div class=" mb-3">
                <label for="email" class="form-label">Email address </label>
                <input type="email" placeholder="enter email address" name="email" id="email" class="form-control" required>
                <div class="invalid-feedback">
                    Email should be valid.
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username </label>
                <input type="text" placeholder="enter Username" name="username" id="username" class="form-control" required>
                <div class="invalid-feedback">
                    Username should be unique.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password </label>
                <input type="password" placeholder="enter Password" name="password" id="password" class="form-control" required>
                <div class="invalid-feedback">
                    Password should be valid.
                </div>
            </div><br>
            <button class="btn btn-dark" type="submit" style="background-color: dodgerblue; border: none">Submit</button>
        </form>
    </div>
</div>
        </div>
</div>
</body>