body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.footer{
    display: flex;
    border-top: 2px solid rgb(128,128,128,0.5);
    width: 100%;
    height: 150px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 30px;
    padding-top: 20px;
    background-color: rgb(128,128,128,0.2);
}
.footer a{
    text-decoration: none;
    color: black;
}
.links{
    margin-left: 45%;
    padding-left: 3%;
    font-weight: bold;
}
.details{
    width: 500px;
}
.details a:hover{
    text-decoration: underline;
}